<!DOCTYPE html>
<html lang="en">

<head>
	{% load static %}
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>searchLocal</title>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/webfontworld/NanumSquareRound@1.0/NanumSquareRound.css">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

	
	<style>
		@import url(searchLocalGrid.css);
		@import url(searchLocal.css);

		body {
			font-family: 'NanumSquareRound', sans-serif;
		}

		.box {
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
		}

		.header {
			grid-area: header;
			font-family: 'NanumSquareRound', sans-serif;
			display: flex;
			text-align: center;
			align-items: flex-end;
		}
		
		.widget {
			grid-area: widget;
		}
		
		.main {
			grid-area: main;
			flex-direction: column;
			height: 100%; 
		}
		
        .sidebar {
            grid-area: sidebar;
        }

		.footer {
			grid-area: footer;
			font-size: 15px;
            color: #544424;
            text-align: center;
		}
	</style>
</head>

<body>
	<div class="grid-container">
		<div class="box header">
			<!-- 로고 이미지 "{% static 'images/Logo.png' %}" -->
			<img src="../../Assets/images/Logo.jpg" alt="로고" class="logo">
			<div class="header-btn">
				<!-- 홈 버튼 img src="{% static 'images/home_btn.jpg' %}"-->
				<button type="button" id= "home-btn" class="home-btn" onclick="window. location. href='{% url 'main' %}'">
					<img src="../../Assets/images/home_btn.jpg">
				</button>
				<!-- 로그아웃 버튼 -->
				<button type="button" id="logout-btn" class="logout-btn" onclick="window. location. href='{% url 'starting' %}'">
					<i class="fa-solid fa-arrow-right-from-bracket"></i>
				</button>
			</div>
		</div>

		<div class="box widget">
			<div class="widget">
				<!-- 프로필 카드 -->
				<div class="profile-card">
					<div class="profile-header">
						<img src="../../Assets/images/resultA강원pf.png" alt="프로필 이미지" class="profile-img">
					</div>
					<div class="profile-info">
						<h2>{{request.session.nickname}}</h2>
						<p class="profile-role">친절한 반달곰</p>
						
						<div class="local-city">
							<i class="fa-solid fa-location-dot"></i>강원특별자치도
						</div>
					</div>
					<div class="profile-actions">
						<button class="action-btn" onclick="window.location.href='{% url 'main:myResult_a' %}'">나의 정보</button>
						<button class="action-btn" onclick="window.location.href='{% url 'main:myForest_a' %}'">나의 포레스트</button>
					</div>
					<div class="profile-stats">
						<div class="stat">
							<i class=></i>
						</div>
						<div class="stat">
							<i class="fa fa-heart"></i> Lv.1
						</div>
						<div class="stat">
							<i class=></i>
						</div>
					</div>
				</div>
				
				<div class="menu-btns">
				<!-- 메뉴 버튼들 -->
					<a href="seachLocal.html" class="menu-btn">포레스트 맵</a>
					<a href="networking.html" class="menu-btn">포레스트 네트워킹</a>
					<a href="sharingContens.html" class="menu-btn">포레스트 스튜디오</a>
					<a href="mycontens" class="menu-btn">콘텐츠 모아보기</a>
				</div>
			</div>
		</div>
		

		<div class="box main">
				<h2>
	
				</h2>
			<div class="title-city" id="city">
				<span class="shadow">
					<img src="../../Assets/images/searchLocal.png" alt="사진">
					<div class="overlay">
						<p>
							강원특별자치도는 깨끗한 공기와 청정 자연이 어우러진 곳입니다.
							<br>넓은 숲과 고요한 산책로에서 자연을 느끼며 여유를 즐길 수 있고,
							 계절마다 변하는 아름다운 풍경은 특별한 추억을 만들어줍니다. 
							 가족이 함께 체험할 수 있는 다양한 활동은 아이들에게는 재미와 배움을, 
							 부모에게는 휴식과 즐거움을 선사하죠. 
							지역의 전통과 문화를 느낄 수 있는 프로그램과 신선한 먹거리를 즐길 수 있어 건강한 여행을 원하시는 분들께도 좋아요. 일상의 번잡함에서 벗어나 가족과 소중한 시간을 보낼 수 있는 강원특별자치도를 더 자세히 살펴보세요.
						</p> <!-- 문구 작성 -->
					 </div>
				</span>
			</div>
				<h2>
					생활 정보
				</h2>
			<div class="title-info" id="info">
				<div class="text A">
					<h3 class="click-info" onclick="showContent(this)">text-A title</h3>
					<p>text-A content</p>
				</div>
				<div class="text B">
					<h3 class="click-info" onclick="showContent(this)">text-B title</h3>
					<p>text-B content</p>
				</div>
				<div class="text C">
					<h3 class="click-info" onclick="showContent(this)">text-C title</h3>
					<p>text-C content</p>
				</div>
				<div class="text D">
					<h3 class="click-info" onclick="showContent(this)">text-D title</h3>
					<p>text-D content</p>
				</div>
			</div>
		</div>

        <div class="box sidebar">
			<div class="side-box">
				<span class="side city">
					<a href="#city">도시 특징</a> <!-- '같은 페이지: 사이드바 -> 메인'으로 이동하는 거라 이대로 두었어요! -->
				</span>
				<span class="side info">
					<a href="#info">생활 정보</a> <!-- '같은 페이지: 사이드바 -> 메인'으로 이동하는 거라 이대로 두었어요! -->
				</span>
				<span class="side fes">
					<a href="{% url 'searchLocal:searchLocalFestival' %}">지역 축제</a> <!-- searchLocalFestival.html로 이동하도록 설정 -->
				</span>
				<span class="side store">
					<a href="{% url 'searchLocal:searchLocalStore' %}">지역 가게</a> <!-- searchLocalStore.html로 이동하도록 설정 -->
				</span>

				<span>
					<!--  빈 공간 -->
				</span>

			</div>
		</div>
		<div class="box footer">Copyright©2024 by team 마리포</div>
	</div>

    <script>
		function showContent(element) {
    const content = element.nextElementSibling;

    // p 태그가 보이지 않으면 애니메이션을 통해 보이게 하고, 보이면 숨기기
    if (content.classList.contains("show")) {
        content.classList.remove("show"); // 이미 보이고 있으면 숨김
    } else {
        content.classList.add("show"); // 보이지 않으면 애니메이션으로 보여줌
    }
}

    </script>

</body>
</html>