<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>searchLocal</title>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/webfontworld/NanumSquareRound@1.0/NanumSquareRound.css">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
	
	<style>
		@import url(searchLocalGrid.css);
        @import url(festival.css);

		body {
			font-family: 'NanumSquareRound', sans-serif;
		}

		.box {
			/*display: flex;*/
			justify-content: center;
			align-items: center;
			text-align: center;
			background-color: #E1E1A0;
		}

		.header {
			grid-area: header;
			font-family: 'NanumSquareRound', sans-serif;
			display: flex;
			text-align: center;
			align-items: flex-end;
		}
		
		.widget {
			grid-area: widget;
		}
		
		.main {
			grid-area: main;
		}
		
        .sidebar {
            grid-area: sidebar;
        }

		.footer {
			grid-area: footer;
		}

	</style>
</head>

<body>
<div class="grid-container">
	<div class="box header">
        <!-- 로고 이미지 "{% static 'images/Logo.png' %}" -->
        <img src="../../Assets/images/Logo.jpg" alt="로고" class="logo">
        <div class="header-btn">
            <!-- 홈 버튼 img src="{% static 'images/home_btn.jpg' %}"-->
            <button type="button" id= "home-btn" class="home-btn" onclick="window. location. href='{% url 'main' %}'">
                <img src="../../Assets/images/home_btn.jpg">
            </button>
            <!-- 로그아웃 버튼 -->
            <button type="button" id="logout-btn" class="logout-btn" onclick="window. location. href='{% url 'starting' %}'">
                로그아웃
            </button>
        </div>
    </div>

    
    <div class="box widget">
        <div class="widget">
            <!-- 프로필 카드 -->
            <div class="profile-card">
                <div class="profile-header">
                    <img src="../../Assets/images/resultA강원pf.png" alt="프로필 이미지" class="profile-img">
                </div>
                <div class="profile-info">
                    <h2>{{request.session.nickname}}</h2>
                    <p class="profile-role">친절한 반달곰</p>
                    
                    <div class="local-city">
                        <i class="fa-solid fa-location-dot"></i>강원특별자치도
                    </div>
                </div>
                <div class="profile-actions">
                    <button class="action-btn" onclick="window.location.href='{% url 'main:myResult_a' %}'">나의 정보</button>
                    <button class="action-btn" onclick="window.location.href='{% url 'main:myForest_a' %}'">나의 포레스트</button>
                </div>
                <div class="profile-stats">
                    <div class="stat">
                        <i class=></i>
                    </div>
                    <div class="stat">
                        <i class="fa fa-heart"></i> Lv.1
                    </div>
                    <div class="stat">
                        <i class=></i>
                    </div>
                </div>
            </div>
            
            <div class="menu-btns">
            <!-- 메뉴 버튼들 -->
                <a href="seachLocal.html" class="menu-btn">포레스트 맵</a>
                <a href="networking.html" class="menu-btn">포레스트 네트워킹</a>
                <a href="sharingContens.html" class="menu-btn">포레스트 스튜디오</a>
                <a href="mycontens" class="menu-btn">콘텐츠 모아보기</a>
            </div>
        </div>
    </div>

	
	<div class="box main">
        <div class = "top-grid-flex-container">
            <div class="top_text-box">지역정보와 축제</div>
            <div class="container">
                <div class="image-box">
                    <img src="image1.jpg" alt="이미지 1">
                    <div class="text-box">이미지 1 텍스트</div>
                </div>
                <div class="image-box">
                    <img src="image22.jpg" alt="이미지 2">
                    <div class="text-box">이미지 2 텍스트</div>
                </div>
                <div class="image-box">
                    <img src="image1.jpg" alt="이미지 3">
                    <div class="text-box">이미지 3 텍스트</div>
                </div>
                <div class="image-box">
                    <img src="image22.jpg" alt="이미지 4">
                    <div class="text-box">이미지 4 텍스트</div>
                </div>
            </div>
        </div>
		<div class="pagination">
			<button class="prev-btn">이전</button>
		</div>
    </div>
    <div class="box sidebar">
	</div>
	<div class="box footer">
	</div>
</div>
	
</body>

</html>
