@media screen and (min-width: 1280px) and (max-width: 1920px) {
    
    * { /* 화면 안에 꽉 차도록 함 */
        margin: 0;
        padding: 0;
    }

    .grid-container {
         /* 컨테이너 너비 */
        width: 1280px; 

        display: grid;

        /* 행 6개 
        100px: 첫 번째 행의 높이
        repeat(10, 80px): 가운데에 10개의 행을 생성하며, 각 행의 높이를 동일하게 80px로 설정. 
        (1fr은 사용 가능한 공간을 균등하게 나눈다는 의미로, 레이아웃의 중앙 내용 부분으로 활용.)
        50px: 마지막 행의 높이를 50px로 설정. 
        */
        grid-template-rows: 100px repeat(10, 80px) 50px; 

         /* 열 구성: 좌우 여백 및 메인 콘텐츠 */
        grid-template-columns: 100px repeat(10, 1fr) 100px;

        /* 열 사이 간격 10px */
        gap: 5px; 

        /* 화면 가운데 정렬 */
        margin: auto; 

        /* 레이아웃 구성 : header, widget, main, sidebar, footer */
        grid-template-areas: 
        "header header header header header header header header header header header header"
        "widget widget widget main main main main main main main sidebar sidebar"
        "widget widget widget main main main main main main main sidebar sidebar"
        "widget widget widget main main main main main main main sidebar sidebar"
        "widget widget widget main main main main main main main sidebar sidebar"
        "widget widget widget main main main main main main main sidebar sidebar"
        "widget widget widget main main main main main main main sidebar sidebar"
        "widget widget widget main main main main main main main sidebar sidebar"
        "widget widget widget main main main main main main main sidebar sidebar"
        "widget widget widget main main main main main main main sidebar sidebar"
        "widget widget widget main main main main main main main sidebar sidebar"
        "footer footer footer footer footer footer footer footer footer footer footer footer";

    }

}

@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}