.text > p {
    margin: 10px 0px;
    font-size: 1.2em;
}

.button-wrap {
    margin-top: 10px;
}

.button-wrap > button {
    padding: 10px 20px;
    background-color: #3d8e74;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: white;
}

.button-wrap button:hover {
    background-color: rgba(61, 142, 116, 0.8);
    color: rgba(0,0,0,0.8);
}

@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}