
.button {
    font-size: 1.5em;
    padding: 20px 30px;
    width: 400px;
    height: 250px;
    margin: 10px;
    background-color: #27634C;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
}

.button-wrapper {
    display: flex;
    justify-content: space-between; 
    width: 100%; 
    max-width: 600px;
}

.back-button {
    background-color: #27634C; 
}

.next-button {
    background-color: #27634C; 
}


@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}