.choice-back, .choice-next {
    padding: 10px 20px;
    font-size: 30px;
    background-color: rgba(255,255,255); 
    color: rgba(255,255,255); 
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease; /* 부드러운 변화 효과 */
    border: 2px solid rgba(39, 99, 76, 0.6);
}

.choice-back:hover, .choice-next:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3); /* 그림자 효과 */
}

.choice-button.selected {
    background-color: #4EA686;
    color: rgba(255,255,255); 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease; /* 부드러운 변화 효과 */
}

/* 화살표 버튼 위치 설정 */
.choice-back {
    position: absolute;
    left: -70px;
    margin-top: 30px;
}

.choice-next {
    position: absolute;
    right: -70px;
    margin-top: 30px;
}

/* startingFam.html에만 해당하는 버튼 */
.choice-submit {
    font-family: 'NanumSquareRound';
    margin-top: 10px;
    padding: 12px 30px;
    font-size: 20px;
    background-color: white;
    color: #27634C; 
    border: 2px solid #27634C; 
    border-radius: 60px;
    cursor: pointer;
    transition: all 0.3s ease; /* 부드러운 변화 효과 */
}

.choice-submit:hover {
    background-color: white; 
    border: 2px solid #27634C; 
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); 
    transform: translateY(-2px); 
}

/* 애니메이션 추가 */
.choice-back, .choice-next {
    transition: background-color 0.3s ease, border 0.3s ease, transform 0.2s ease; /* 색상과 테두리 변화 */
}


@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* 로고 */
.logo {
    position: absolute; /* 중앙에 고정하기 위해 절대 위치 */
    left: 50%;
    transform: translateX(-50%); /* 중앙 정렬 */
    max-width: 200px;
    height: auto;
}

/* header 홈/로그아웃 버튼들 위치 */
.header-btn {
    display: flex; /* 버튼 그룹을 가로로 배치 */
    gap: 10px; /* 버튼 간 간격 */
    margin-left: auto; /* 오른쪽 정렬 */
    padding: 0px 20px;
    align-items: flex-end; /* 그룹 내 버튼을 아래로 정렬 */

}
/* 홈버튼 이미지 */
.home-btn img {
    width: 40px; /* 이미지 너비 설정 */
    height: 40px; /* 이미지 높이 설정 */
    object-fit: cover; /* 이미지를 버튼 크기에 맞게 조절 */
}

.home-btn {
    border: none; /* 버튼 외곽선 제거 */
    background: none; /* 버튼 배경 제거 */
    padding: 0; /* 여백 제거 */
    cursor: pointer; /* 마우스 포인터를 손 모양으로 */
    
}
.home-btn:hover {
    transform: scale(1.04); /* 버튼 크기 확대 (1.1배) */
    
}

/* 로그아웃 버튼 */
.logout-btn {
        font-size: 13px;
        padding: 5px 10px;
        background-color: #ffffff; /* 버튼 배경색 */
        border: 1px solid #ccc; /* 테두리 */
        border-radius: 5px; /* 버튼 모서리 둥글게 */
        cursor: pointer;
        transition: background-color 0.3s;
        margin-bottom: 5px;
}
.logout-btn:hover {
    color : #3a8459;
    transform: scale(1.02); /* 버튼 크기 확대 (1.1배) */
}