<!DOCTYPE html>

<html lang="en">

<head>

{% load static %}
<meta charset="UTF-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>sharingContents2</title> <!-- 메인화면 페이지 -->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/webfontworld/NanumSquareRound@1.0/NanumSquareRound.css">

<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<style>
@import url(sharingcontents.css);
@import url(sharingContentsGrid.css);
@import url(sharingcontents.js);
/*@import url(searchlocalgrid.css);*/
/*@import url(searchLocalstore.html);*/

body {

font-family: 'NanumSquareRound', sans-serif;

}

.box {

justify-content: center;

align-items: center;

text-align: center;

}

.header {
			grid-area: header;
			font-family: 'NanumSquareRound', sans-serif;
			display: flex;
			text-align: center;
			align-items: flex-end;
		}

.widget {

grid-area: widget;

}

.main {

grid-area: main;

}

.footer {

grid-area: footer;

}

</style>

</head>

<body>

<div class="grid-container">

    <div class="box header">
        <!-- 로고 이미지 "{% static 'images/Logo.png' %}" -->
        <img src="../../Assets/images/Logo.jpg" alt="로고" class="logo">
        <div class="header-btn">
            <!-- 홈 버튼 img src="{% static 'images/home_btn.jpg' %}"-->
            <button type="button" id= "home-btn" class="home-btn" onclick="window. location. href='{% url 'main' %}'">
                <img src="../../Assets/images/home_btn.jpg">
            </button>
            <!-- 로그아웃 버튼 -->
            <button type="button" id="logout-btn" class="logout-btn" onclick="window. location. href='{% url 'starting' %}'">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
            </button>
        </div>
    </div>

    <div class="box widget">
        <div class="widget">
            <!-- 프로필 카드 -->
            <div class="profile-card">
                <div class="profile-header">
                    <img src="../../Assets/images/resultA강원pf.png" alt="프로필 이미지" class="profile-img">
                </div>
                <div class="profile-info">
                    <h2>{{request.session.nickname}}</h2>
                    <p class="profile-role">친절한 반달곰</p>
                    
                    <div class="local-city">
                        <i class="fa-solid fa-location-dot"></i>강원특별자치도
                    </div>
                </div>
                <div class="profile-actions">
                    <button class="action-btn" onclick="window.location.href='{% url 'main:myResult_a' %}'">나의 정보</button>
                    <button class="action-btn" onclick="window.location.href='{% url 'main:myForest_a' %}'">나의 포레스트</button>
                </div>
                <div class="profile-stats">
                    <div class="stat">
                        <i class=></i>
                    </div>
                    <div class="stat">
                        <i class="fa fa-heart"></i> Lv.1
                    </div>
                    <div class="stat">
                        <i class=></i>
                    </div>
                </div>
            </div>
            
            <div class="menu-btns">
            <!-- 메뉴 버튼들 -->
                <a href="seachLocal.html" class="menu-btn">포레스트 맵</a>
                <a href="networking.html" class="menu-btn">포레스트 네트워킹</a>
                <a href="sharingContens.html" class="menu-btn">포레스트 스튜디오</a>
                <a href="mycontens" class="menu-btn">콘텐츠 모아보기</a>
            </div>
        </div>
    </div>

    
<div class="box main">
    <div class="text-box1">
        <h3>dkdkd</h3>
    </div>
    <div class="container">
        <div class="image-box">
            <img src="image1.jpg" alt="Image 1">
            <div class="text-box">텍스트 1</div>
        </div>
        <div class="image-box">
            <img src="image2.jpg" alt="Image 2">
            <div class="text-box">텍스트 2</div>
        </div>
        <div class="image-box">
            <img src="image3.jpg" alt="Image 3">
            <div class="text-box">텍스트 3</div>
        </div>
        <div class="image-box">
            <img src="image4.jpg" alt="Image 4">
            <div class="text-box">텍스트 4</div>
        </div>
        <div class="image-box">
            <img src="image5.jpg" alt="Image 5">
            <div class="text-box">텍스트 5</div>
        </div>
        <div class="image-box">
            <img src="image6.jpg" alt="Image 6">
            <div class="text-box">텍스트 6</div>
        </div>
        <div class="image-box">
            <img src="image7.jpg" alt="Image 7">
            <div class="text-box">텍스트 7</div>
        </div>
        <div class="image-box">
            <img src="image8.jpg" alt="Image 8">
            <div class="text-box">텍스트 8</div>
        </div>
        <div class="image-box">
            <img src="image9.jpg" alt="Image 9">
            <div class="text-box">텍스트 9</div>
        </div>
    </div>
    <div class="pagination">
        
        <button class="next-btn">다음</button>
    </div>
</div>
<div class="box footer">
    Copyright©2024 by team 마리포
</div>
</body>
</html>