.choice-back, .choice-next {
    padding: 10px 20px;
    font-size: 30px;
    background-color: rgba(255,255,255); 
    color: rgba(255,255,255); 
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease; /* 부드러운 변화 효과 */
    border: 2px solid rgba(39, 99, 76, 0.6);
}

.choice-back:hover, .choice-next:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3); /* 그림자 효과 */
}

.buttons-container .choice-button.selected {
    background-color: #4EA686;
    font-weight: bold;
    color: rgba(255,255,255); 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease; /* 부드러운 변화 효과 */
}

/* 화살표 버튼 위치 설정 */
.choice-back {
    position: absolute;
    left: -70px;
    margin-top: 30px;
}

.choice-next {
    position: absolute;
    right: -70px;
    margin-top: 30px;
}

/* startingFam.html에만 해당하는 버튼 */
.choice-submit {
    font-family: 'NanumSquareRound';
    margin-top: 10px;
    padding: 12px 30px;
    font-size: 18px;
    background-color: white;
    color: #27634C; 
    border: 2px solid #27634C; 
    border-radius: 60px;
    cursor: pointer;
    transition: all 0.3s ease; /* 부드러운 변화 효과 */
}

.choice-submit:hover {
    background-color: white; 
    border: 2px solid #27634C; 
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); 
    transform: translateY(-2px); 
}

/* 애니메이션 추가 */
.choice-back, .choice-next {
    transition: background-color 0.3s ease, border 0.3s ease, transform 0.2s ease; /* 색상과 테두리 변화 */
}


@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}