.progress-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.progress-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #D3D3D3; 
}

.progress-line {
    width: 40px;
    height: 2px;
    background-color: #D3D3D3; 
}

.progress-circle.filled {
    background-color: #4EA686; 
}

.progress-line.filled {
    background-color: #4EA686; 
}

@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}