@media screen and (min-width: 1280px) and (max-width: 1920px) {
    .button {
        width: 400px;
        height: 250px;
        margin: 10px;
        background-color: #27634C;
        color: rgb(255, 255, 255);
        border: none;
        text-align: center;
        padding: 15px 30px; /* 내부 여백 */
        font-size: 23px; /* 기본 글꼴 크기 */
        border-radius: 60px; /* 둥근 모서리 */
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
        cursor: pointer;
        line-height: 1.5; /* 텍스트 간격 */
        
    }
    
    
    /* 마우스 호버 효과 (추가) */
    .button:hover {
        background: linear-gradient(180deg,  #8BC330, #4EA686); /* 그라데이션 */
        transform: translateY(-2px); /* 살짝 떠오르는 효과 */
        box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3); /* 그림자 확대 */
        font-weight: bold;
    }
    
    .button-wrapper {
        display: flex;
        justify-content: space-between; 
        width: 80%; 
        max-width: 600px;
        font-family: 'NanumSquareRound';
        gap: 20px; /* 버튼 간격 */
        margin-bottom: 30px;
    }
    
    .back-button {
        font-family: 'NanumSquareRound';
        background: linear-gradient(180deg, #8BC330, #27634C); /* 그라데이션 */
        border: solid 2px linear-gradient(180deg, #8BC330, #27634C);
    }
    
    .next-button {
        font-family: 'NanumSquareRound';
        background: linear-gradient(180deg, #8BC330, #27634C); /* 그라데이션 */
        border: solid 2px linear-gradient(180deg, #8BC330, #27634C);
    }
    }
    
    @font-face {
        font-family: 'NanumSquareRound';
        src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    
    /* intro-text 애니메이션 */
    @keyframes slideIn {
        0% {
            transform: translateX(100); /* 텍스트가 화면 왼쪽에서 시작 */
            opacity: 1;
        }
        50% {
          opacity: 1; /* 점점 보이기 시작 */
        }
        100% {
          transform: translateX(0); /* 텍스트가 원래 위치로 이동 */
          opacity: 1; /* 완전히 보이기 */
        }
    }  


    /* 로고 */
.logo {
    position: absolute; /* 중앙에 고정하기 위해 절대 위치 */
    left: 50%;
    transform: translateX(-50%); /* 중앙 정렬 */
    max-width: 200px;
    height: auto;
}

/* header 홈/로그아웃 버튼들 위치 */
.header-btn {
    display: flex; /* 버튼 그룹을 가로로 배치 */
    gap: 10px; /* 버튼 간 간격 */
    margin-left: auto; /* 오른쪽 정렬 */
    padding: 0px 20px;
    align-items: flex-end; /* 그룹 내 버튼을 아래로 정렬 */

}
/* 홈버튼 이미지 */
.home-btn img {
    width: 40px; /* 이미지 너비 설정 */
    height: 40px; /* 이미지 높이 설정 */
    object-fit: cover; /* 이미지를 버튼 크기에 맞게 조절 */
}

.home-btn {
    border: none; /* 버튼 외곽선 제거 */
    background: none; /* 버튼 배경 제거 */
    padding: 0; /* 여백 제거 */
    cursor: pointer; /* 마우스 포인터를 손 모양으로 */
    
}
.home-btn:hover {
    transform: scale(1.04); /* 버튼 크기 확대 (1.1배) */
    
}

/* 로그아웃 버튼 */
.logout-btn {
        font-size: 13px;
        padding: 5px 10px;
        background-color: #ffffff; /* 버튼 배경색 */
        border: 1px solid #ccc; /* 테두리 */
        border-radius: 5px; /* 버튼 모서리 둥글게 */
        cursor: pointer;
        transition: background-color 0.3s;
        margin-bottom: 5px;
}
.logout-btn:hover {
    color : #3a8459;
    transform: scale(1.02); /* 버튼 크기 확대 (1.1배) */
}
