.whole-container {
    max-width: 1280px;
    height: 100%;
}

/* first-section */
.first-section {
    background-color: yellow;
    height: 30%; /* 임의로 비율 설정 */
}

.search-input {
    width: 30%;
}

/* second-section */
.second-section {
    background-color: red;
    height: 60%; /* 임의로 비율 설정 */
}

.upload-group-img {
    border: 2px solid black;
    display: inline-block;
}

.intro-group-text {
    display: inline-block;
}

.show-img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin-top: 10px;
    border: 2px solid #ccc;
}

/* third-section */
.third-section {
    background-color: blue;
}