.whole-container {
    background-color: blueviolet;
    width: 600px;
    height: 800px;
}

/* first-section */
.first-section {
    background-color: yellow;
    height: 30%;
}

.search-input {
    width: 30%;
}

/* second-section */
.second-section {
    background-color: red;
    height: 60%;
}

.upload-group-img {
    background-color: blue;
    display: inline-block;
}

.intro-group-text {
    display: inline-block;
}

/* third-section */
.third-section {
    background-color: blue;
}