/* 기본 설정 및 리셋 */
*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    font-family: 'NanumSquareRound', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%; /* 뷰포트 높이를 기준으로 설정 */
}


@media screen and (min-width: 1024px) and (max-width: 1920px) {
    .grid-container {
        width: 90%;
        max-width: 1200px;
        padding: 20px;
        margin: auto;    /* 가로로 중앙 정렬 */ 
        min-height: 100vh; 
        justify-content: space-between
        
    }
}

/* 나눔스퀘어라운드 폰트 */
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
