/* second-section CSS */
.shadow {
    display: block;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb( 0,0,0, 0.2);
    opacity: 0;
    transition: opacity 0.2s;
    overflow: hidden;
    width: 100%; /* 부모 요소 크기에 맞추기 */
    height: 100%; /* 부모 요소 크기에 맞추기 */
}

.shadow:hover .overlay {
    opacity: 1;
}

.site-container {
    width: 100%;
}

.site-img {
    display: inline-block;
    max-width: 25%;
    overflow: hidden;
    position: relative;
    aspect-ratio: 1 / 1.4; /* 사진에 대한 고정 크기를 지정해 주는 코드 */
    border: 2px solid black;
}

.site-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide {
    max-width: 10%;
    display: inline-block;
}

/* third-section CSS */
.third-section {
    position: relative;
    width: 100%;
    height: 400px; /* 다른 section에서 margin 부여 가능성 때문에 일단 400px으로 설정 */
}

.text-container {
    text-align: left;
}

.img-container img {
    width: 300px; /* 사진 크기 조정해 주면 될 것 같슴다 */
    height: 300px;
    aspect-ratio: 1 / 1; /* 사진에 대한 고정 크기를 지정해 주는 코드 */
    border: 2px solid black;
    border-radius: 20px;
    position: absolute; /* 애니메이션 효과를 위하여 부여 */
    right: 0;
    top:0;
}

.animation-fade {
    opacity: 0; /* default 숨겨진 상태 */
    transition: opacity 1s ease-in-out; /* fade 효과 */
}

.active {
    opacity: 1; /* 활성화된 이미지만 보이도록 */
    z-index: 1; /* 활성화된 이미지가 가장 위에 표시되도록 */
}