<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>networking</title>

    <!-- CSS 경로 통일 -->
    <link rel="stylesheet" href="{% static 'networking/css/networkingGrid.css' %}">
    <link rel="stylesheet" href="{% static 'networking/css/networking.css' %}">
</head>

<body>
    <div class="grid-container">
        <div class="box header"></div>
        <div class="box widget"></div>
        <div class="box main">
            <div class="whole">
                <!-- 태그 검색 섹션 -->
                <section class="first-section">
                    <div class="search-container">
                        <input type="text" id="search-input" placeholder="#태그">
                        <button id="search-button">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </section>

                <!-- 그룹 리스트 섹션 -->
                <section class="second-section">
                    <div class="site-container">
                        <button class="slide left">
                            <i class="fa-solid fa-angle-left"></i>
                        </button>

                        {% for group in groups %}
                        <div class="site-img" data-tag="{{ group.group_name }}">
                            <span class="shadow">
                                <img src="{{ group.image.url }}" alt="Group Image">
                                <h3>{{ group.group_name }}</h3>
                                <div class="overlay">
                                    <p>{{ group.description }}</p>
                                </div>
                            </span>
                        </div>
                        {% endfor %}

                        <button class="slide right">
                            <i class="fa-solid fa-angle-right"></i>
                        </button>
                    </div>
                </section>

                <!-- 기타 섹션 -->
                <section class="third-section">
                    <div class="text-container">
                        <h1>관심사를 설정하고<br>더 많은 사람들을 만나보세요!</h1>
                    </div>
                </section>
            </div>
        </div>
        <div class="box footer"></div>
    </div>
</body>
</html>
